h1 {
    font-size: 40px;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

.btn,
button.btn,
button.btn {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
    border-width: medium;
    border: none;
}

.btn--orange,
button.btn--orange {
    color: #fff;
    background-color: #228b22;
}

.btn--orange:hover,
button.btn--orange:hover {
    color: #fff;
    background: #228b22;
}

button.btn--radius {
    border-radius: 100vh;
    border-width: medium;
}

custom-file {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
    border-width: medium;
    border: none;
}


.file {
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding: 1em;
    border: 1px solid #dd0000;
    background: #dd0000;
    color:#fff;
}



input[type="file"] {
    display: none;
}
label {
    background: #ddd;
    padding: 10px 30px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
}


/*
//14:15*/


