body {
    margin: 20px 0 0 20px;
    width: 300px;
}
h1 {
    font-size: 20px;
}
form {
    margin-bottom: 40px;
}
.form_field {
    margin-bottom: 30px;
}
.form_field > p.error_message {
    color: #f00;
    font-weight: bold;
}
.button_field > button {
    width: 120px;
    height: 48px;
    font-size: 20px;
    cursor: pointer;
}

.col-1 {
    background-color: #2d3748;
}
